body{
	background: orange;
}

h1{
	color: red;
	text-align: center;
	font-family: times new roman;
}

/* <div id> pasangannya #name
<div class> pasangannya .name */

#judul{
	color: black;
	text-align: center;
	font-size: 21px
}	

p{
	color: blue;
	font-size: 18px;
	font-family: times new roman;
	font-weight: bold;

}

.ide{
	text-align: justify;
	font-family: arial;
	border-style: dashed;
	border-radius: 10px;
	padding: 30px;
}